@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;500;800&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/weatherBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
}


/* Search bar */
.search-group {
    position: relative;
    padding: 15px 0 0;
    margin: 1.6rem 2rem;
    width: 20ch;
}

@media (max-width: 500px) {
    .search-group {
        width: 50%;
    }
}


.search-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0 0;
    background: transparent;
    transition: border-color 0.2s;
}

.search-field::placeholder {
    color: transparent;
}

.search-field:placeholder-shown ~ .search-label {
    font-size: 1.3rem;
    font-weight: 800;
    cursor: text;
    top: 26px;
  }
  
.search-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
  
.search-field:focus ~ .search-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #31abdf;
    font-weight: 700;
}

.search-field:focus {
    padding-bottom: 1px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #0c557f, #31abdf);
    border-image-slice: 1;
}

/* Weather info box */
main {
    align-self: flex-end;
}


.info {
    background: linear-gradient(to right, #078fde, #53c8fa);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 1.6rem 3rem;
    font-size: 3vw;
    /* Linear gradient background will show through transparent text */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.condition {
  line-height: 1.5em;
  font-size: 1.4em;
  font-weight: 200;
  color: antiquewhite;
}

.location {
    line-height: 2.4rem;
}

.weather-details {
    display: flex;
    justify-content: space-evenly;
}

.degrees {
    font-size: 6em;
    font-weight: 800;
    color: antiquewhite;
}
.degrees::after,
.feels-like::after {
    content: '℃';
    font-size: 0.3em;
    vertical-align: super;
    margin-top: 1em;
    color: antiquewhite;
    margin-right: 10px;
}

.extra-info {
    align-self: center;
    border-left: 3px solid #9b9b9b;
    padding-left: 0.5em;
}

.feels-like::after {
    font-size: 0.5em;
}

@media (max-width: 900px) {
    main {
       width: 100%;
   }

   .info {
    font-size: 4.5vw;
   }

   .extra-info {
        margin-left: 1rem;
   }
}

@media (max-width: 490px) {
    .info {
        gap: 2px;
        font-size: 6vw;
    }

    .location {
        line-height: 2.8rem;
        width: 120%;
    }

    .degrees {
        font-size: 8em;
        line-height: 0.8em;
    }

    .weather-details {
        flex-direction: column;
    }

    .extra-info {
        margin-top: 2rem;
    }
}

.error-message {
    color: rgb(235, 81, 81);
}

/* Toggle switch for fahrenheit/celisus */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 1rem;
    right: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "℉";
    text-align: center;
    color: #b7b1b1;
    font-size: 18px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    color: black;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.weather-values {
    color: antiquewhite;
}
  
